# Super simple iptables config for MapR nodes to allow free flowing
# Comms between nodes whilst restricting public access
#
# Author: Richard Shaw
# Email: rshaw at mapr.com

*filter

# Dropping incoming connections that don't have explecit rules bellow
:INPUT DROP
:FORWARD ACCEPT
:OUTPUT ACCEPT

# Allow another MapR node
-A INPUT -p tcp -s 87.66.11.1 -m tcp -j ACCEPT

# Allow localhost traffic
-A INPUT -p tcp -s 127.0.0.1 -m tcp -j ACCEPT

# Allow established connections for both public and private connections
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Opening ports wide open
-A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -p tcp -m tcp --dport 8443 -j ACCEPT

# Commmiting the rules to the firewall
COMMIT
